body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background: #f6f1eb;
    color: #2c2c2c;
    text-align: center;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

button {
    margin-top: 25px;
    padding: 12px 30px;
    border: none;
    background: #2c2c2c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #444;
}

.letter {
    padding: 100px 20px;
    max-width: 750px;
    margin: auto;
    animation: fadeIn 2s ease forwards;
}

.hidden {
    display: none;
}

.proposal {
    margin-top: 60px;
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.yes {
    background: #8b5e3c;
    margin-bottom: 25px;   /* THIS gives space */
}

.yes:hover {
    background: #6f472b;
}

.no {
    background: #999;
    position: absolute;
    top: 120px;   /* starts below YES */
    transition: 0.2s ease;
}

.no:hover {
    background: #777;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
